<%-include("header")-%>

<div>
  <img src="image/smartMethods.jpg" alt="smartMethods" />
  
  <form action="/" method="post">
    <button name="left-btn" value="left" class="btn-left">left</button>
    <button name="forward-btn" value="forward" class="btn-forward">
      forward
    </button>
    <button name="stop-btn" value="stop" class="btn-stop">stop</button>
    <button name="right-btn" value="right" class="btn-right">right</button>
    <button name="backward-btn" value="backward" class="btn-backward">
      backward
    </button>
  </form>
</div>
<a  class="link" href="/movement-history">click here to see movement history</a>
<%-include("footer")-%>
