<%-include("header")-%>
<div class="history">
<h1>Robot movement History</h1>
<table>



<% for(let i=0;i<movemonts.length;i++) {%>
    <tr><td><%=movemonts[i]%></td>  </tr>
  <%}%>
</table>  
</div>
  <%-include("footer")-%>
